iframe {
    background-color: transparent;
    border: none;
}

/*Вставка вертикального отступа*/
.spacer
{
    display:block;
    height: 5px;
}

/*Блок включающий в себя метку и элемент управления, который может размещаться на одной линии с другими блоками*/
div.inline_predicate_block
{
    min-height: 20px;
    display: block;
    /*margin-top:5px;*/
    display: inline-block;
    vertical-align: middle;
}

/*Блок включающий в себя метку и элемент управления, который может размещаться на одной линии с другими блоками с отступом*/
div.inline_predicate_block_left
{
    min-height: 15px;
    display: block;
    margin-left:45px;
    display: inline-block;
    vertical-align: middle;
}

/*Блок включающий в себя метку и элемент управления, который может размещаться на одной линии с другими блоками с отступом*/
div.inline_predicate_block_text
{
    display: block;
    display: inline-block;
    vertical-align: middle;
}

/*Блок включающий в себя метку и элемент управления или другие блоки, который размещается на линии один*/
div.predicate_block
{
    min-height: 20px;
    display: block;
    margin-top:5px;
}

/*Блок включающий в себя метку сверху и текстовую область, который размещается на линии один*/
div.area_block
{
    min-height: 70px;
    display: block;
    margin-top:5px;
}

/*Метка которая размещается на одной линии с элементом управления есть место*/
div.label
{
    width: 150px;
    display: inline-block;
    vertical-align: middle;
}

div.label_100
{
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}

/*Метка которая размещается на одной линии с элементом управления есть место*/
div.label170
{
    width: 170px;
    display: inline-block;
    vertical-align: middle;
}


/*Запрещенный элемент имеет серую метку*/
div.disabled_label
{
    color: Gray;
}

/*Класс используется для вертикального выравнивания элементов типа DBSelect*/
div.aligned_control
{
    vertical-align: middle;
    margin-right:10px;
}

/*Класс используется для горизонтального центрирования элементов в пределах заданной ширины*/
center
{
    width: 680px;
}

/*Класс определят цвет для отображения в заголовке надписи Отсутствует для обязательных полей*/
.required_info
{
    color:#3399FF;
}
.required_red_info
{
    color:red;
}

/*Класс определят отступ слева*/
.marginL 
{
     margin-left: 10px;
}

.marginD 
{
     margin-left: 3px;
}

.marginA
{
     margin-left: 20px;
     margin-right: 20px;
}

/*стили для отображения статусной строки*/
.footer {
    width:100%;
    position:absolute;
    bottom:5px;
    left:0;
    font-size: 7pt;
    margin-top: 7px;
}

.itogtable {
    border: 1px solid #c5c5c5;
    text-wrap: none;
    background-color: white;
    text-align: right;
    border-collapse: collapse;
    padding: 1px;
    border-spacing: 1px;
}

.ui-state-disabled-invisible{
	cursor: default !important;
	opacity: .99;
	filter:Alpha(Opacity=99); /* support: IE8 */
	background-image: none;
}

.warning {
    color: red;
    width: 100%;
    text-align: left;
}

div#CorrectingSequel, div#CorrectingSequel a { color:red; }