<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="likeSettings" type="Kesco.Lib.Web.Controls.V4.Handlers.LikeConfigurationSectionHandler, Controls.V4" />
  </configSections>
  <appSettings>
    <add key="AppName" value="Документы:Товарно-траспортная накладная V4"/>
    <add key="URI_Direction_OldVersion" value="http://beta.testcom.com/docs/trade/Nakladnaya.aspx"/>
    <add key="Version_V4_JS" value="VN"/>
    <add key="owin:AppStartup" value="Kesco.Lib.Web.SignalR.Startup"/>
  </appSettings>
  <likeSettings>
    <like formName="nakladnaya.aspx" likeId="TTN_20191018"/>
    <like formName="MrisForm.aspx" likeId="TTN_MRIS_20191018"/>
    <like formName="FactUslForm.aspx" likeId="TTN_FACTUSL_20191018"/>
  </likeSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" type="Kesco.Lib.Web.Controls.V4.Handlers.PageHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="DialogResult" verb="*" path="DialogResult.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.DialogResultHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="CurrentEmployee" verb="*" path="CurrentEmployee.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.CurrentEmployeeHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="dhch" verb="*" path="dhch.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.HtmlContentHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="barcode" verb="*" path="barcode.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.BarCodeHandler, Controls.V4" resourceType="Unspecified"/>
      <add name="SignalView" verb="*" path="SignalView.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.SignalRHubHandler, Controls.V4" resourceType="Unspecified"/>
    </handlers>
  </system.webServer>
</configuration>